body {
  background: url("../images/books.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  color: black;
  background-position: center;
  }
}
h1{
  border-right: auto;
  border-left: auto;
  border: brown;

}

#info {
  width: 487px;

}

.container{
  display: none;
}

}

.form-group {
  padding: 30px
}

.details>input{
  margin: 10px;
   width: 30%;
   height: 3em;
   border-radius: 10px;
}

.details {
  margin-left: 30em;
}
.details>button {
  margin-left: 7em;
}
